@using JustBlog.Models.Entities
@model Post

@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <header class="masthead" style="background-image: url('/Assets/img/post-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="post-heading">
                        <h1>@Html.DisplayTextFor(model => model.Title)</h1>
                        <h2 class="subheading">@Html.DisplayTextFor(model => model.ShortDescription)</h2>
                        <span class="meta">
                            Posted by
                            <a href="#"></a>
                            on @Html.DisplayTextFor(model => model.PostedOn)
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
}

<div class="col-lg-8 col-md-10 mx-auto">
    @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.PostContent))
</div>
